body {
  background-color: skyblue;
  color: aliceblue;
}

#app {
  word-wrap: break-word;
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: indigo;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
}
.left-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.left-right div {
  margin: 5px 10px;
}
input {
  background: transparent;
  color: white;
  height: 30px;
  border: 1px solid white;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 10px;
  box-sizing: border-box;
}
button {
  background: transparent;
  color: white;
  height: 30px;
  border: 1px solid white;
  border-radius: 20px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0px 20px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}
button:hover {
  background-color: white;
  color: indigo;
}
/* LOWER COUNTER */
#counter {
  margin-top: 50px;
  background-color: indigo;
  display: flex;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}
.box {
  position: relative;
  overflow: hidden;
  padding: 0px 0px;
  margin: 0px 0px;
  box-sizing: border-box;
  height: 54px;
}
.top {
  background-color: white;
  color: indigo;
  padding: 10px 20px;
  border: 1px solid black;
}
.lower {
  background-color: white;
  color: indigo;
  padding: 10px 20px;
  position: absolute;
  top: 40px;
  transition: 1s ease-in-out;
  border: 1px solid black;
}
.animate {
  transform: translate(0, -40px);
}
